---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Acerca de Mí | YasminTorres.dev" 
			description="De la idea al sistema: diseño y desarrollo con propósito">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de Mí"
				tagline="Disfruto transformar ideas en proyectos funcionales y escalables, siempre con un enfoque en la experiencia del usuario y en el impacto positivo que la tecnología puede generar en la vida cotidiana."
			>
				<img
					width="1553"
					height="873"
					src="/assets/oficina.jpg"
					alt="Oficina de Yasmín"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Que Hago?</h2>
				<div class="content">
					<p>
						Soy Yasmin, diseñadora de productos industriales y desarrolladora backend con una pasión especial por combinar creatividad y tecnología para dar vida a soluciones únicas. 
						Mi enfoque está en integrar diseño, software e inteligencia artificial para resolver problemas reales de manera práctica, estética y sostenible.<br><br>
					</p>
					<p>
						Creo firmemente que la tecnología no solo debe funcionar, sino también sentirse <span>cercana, intuitiva y con propósito.</span> Por eso, cada proyecto que desarrollo busca no solo optimizar procesos, sino también generar un impacto positivo en la experiencia de las personas y en la forma en que interactúan. He trabajado en proyectos que van desde sistemas personalizados para negocios locales, hasta prototipos en 3D e IA. Me motiva la idea de que cada reto es una oportunidad para aprender, crear y construir soluciones escalables con futuro.<br><br>
					</p>
					<p>
						Cuando no estoy diseñando o programando, me encanta investigar nuevas maneras de hacer las cosas, experimentar con prototipos y pensar cómo la tecnología puede convertirse en un puente entre la innovación y la vida cotidiana.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educacion</h2>
				<div class="content">
					<p>Tecnólogo en Análisis y Desarrollo de Software - Servicio Nacional de Aprendizaje SENA (Graduación)</p></p>
					<p>Programa- ONE Oracle Next Education Back-end - Alura Latam (Programa de Certificado)</p>
					<p>IBM AI Developer - IBM (Programa de Certificado)</p>
					<p>Técnico en Programación en Aplicaciones móviles - Universidad Autonoma de Bucaramanga (Graduación)</p>
					<p>Tecnólogo de Diseño de Productos Industriales - Servicio Nacional de Aprendizaje SENA (Graduación)</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>Diseño de UI/UX</p>
					<p>Diseño Web</p>
					<p>Desarrollo Backend</p>
					<p>Diseño Prototipo 3D</p>
					<p>Integración de IA</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content span {
		color:  var(--accent-regular);	
		font-weight: 600;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
