---
const skills = [
   {
    title: "Diseño UI/UX ",
    description: "Diseños intuitivos y atractivos centrados en la experiencia del usuario.",
    techs: ["Figma", "Canva"]
  }, 
  {
    title: "Diseño Web",
    description: "Construcción de interfaces responsivas y accesibles usando frameworks modernos.",
    techs: [ "Astro", "HTML", "CSS", "JavaScript" ]
  },
  {
    title: "Desarrollo Backend",
    description: "Creación de aplicaciones robustas del lado del servidor y APIs escalables.",
    techs: ["Java", "Spring Boot", "MySql", "PostgreSQL"]
  },
  {
    title: "Diseño Prototipo 3D",
    description: "Diseño , modelado y renderizado de prototipos",
    techs: ["AutoCad", "SketchUp", "V-Ray"]
  },
  
  {
    title: "Integracion de IA",
    description: "Aplicación de modelos de inteligencia artificial en soluciones personalizadas.",
    techs: ["Python", "OpenAI", "GeminiAI"]
  }
];
---

<section class="skills-section">

  <div class="skills-grid">
    {skills.map((skill) => (
      <div class="skill-card">
        <div>
          <h3 class="skill-title">{skill.title}</h3>
          <p class="skill-description">{skill.description}</p>
        </div>

        <div class="chips">
          {skill.techs.map((tech) => (
            <span class="chip">{tech}</span>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>

<style>
  .skills-section {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
  }

  .skills-grid {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-template-columns: 1fr; */
    gap: 2rem;
  }

  @media (min-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .skills-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .skill-card {
    background: var(--gray-900);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-md);
    position: relative;
  }

  .skill-title {
    font-weight: bold;
    color: var(--accent-regular);
    font-size: var(--text-lg);
  }

  .skill-description {
    color: var(--gray-400);
    line-height: 1.5;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

  .chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .chip {
    background-color: var(--accent-regular); /* Violeta */
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.35rem 0.8rem;
    border-radius: 8px;
    transition: background 0.2s ease, transform 0.2s ease;
    white-space: nowrap;
  }

  .chip:hover {
    background-color: var(--accent-light); /* Violeta claro */
    transform: translateY(-2px);
  }
</style>

